<header class="header">
    <div class="content-container">
        <div class="grid-row">
            <img class="logo" src="https://i.ibb.co/RgwwmkM/logo.png" height="100px" alt="Cheesebook">
            <nav class="navigation">
                <a class="nav-link" href="">Home</a>
                <a class="nav-link" [routerLink]="['/popular']">Popular</a>
                <a class="nav-link" [routerLink]="['/bucket']">Bucket</a>
                <a class="nav-link" (click)="openDialog()">Sign up</a>
            </nav>
        </div>
    </div>       
</header>
<router-outlet></router-outlet>